// Add an extra nested layer to try to make sure the debug style won't be compromised by the css of the project
html._debug_page_ {

  background-color: $color-light-grey;
  color: $color-dark-grey;

  &.dark{
    background-color: $color-dark-grey;
    color: $color-light-grey;
  }
  @import "30_objects/_objects.info";
  @import "30_objects/_objects.pages-list";
  @import "30_objects/_objects.directories";

  @import "40_components/_components.block";
  @import "40_components/_components.block-fonts";
  @import "40_components/_components.svg-collection";
}