/*----------------------------------*\
  #COLORS
\*----------------------------------*/

// Color palette

$color-primary		: #ff5454; 	// Tam Tam red

$color-light-grey   : #ECECEC;	// Light grey
$color-dark-grey    : #333333;	// Dark grey
$color-grey			: #cacaca;	// Grey

$color-beige		: #bbaea5;  // Beige