.font{

  &-size{

    &--body{
      font-size: $font-size-body;
      line-height: $font-line-height-body;
    }
    
  }
  
  &-family{
    
    &--primary{
      font-family:$font-stack-primary;
    }
    
    &--secondary{
      font-family:$font-stack-secondary;
    }
    
  }
  
}
