/*----------------------------------*\
  #MEDIA
\*----------------------------------*/

//    Place your media queries here.
//
//    example usage:
//    -------------
//
//    @media #{ $ screen-small-and-down } {
//
//        .some-class {
//
//            font-size: 1.4rem;
//
//        }
//
//    }


// Breakpoints, used for the grid.

$breakpoint-small               : 480px;
$breakpoint-medium              : 768px;
$breakpoint-large               : 1024px;
$breakpoint-extra-large         : 1200px;
$breakpoint-widescreen          : 1600px;



// Device named breakpoints, used for the mixins.

$mobile-end                     : $breakpoint-small;

$mobile-plus-start              : $breakpoint-small + 1;
$mobile-plus-end                : $breakpoint-medium;

$tablet-portrait-start          : $breakpoint-medium +1;
$tablet-portrait-end            : $breakpoint-large;

$tablet-landscape-start         : $breakpoint-large + 1;
$tablet-landscape-end           : $breakpoint-extra-large;

$laptop-start                   : $breakpoint-extra-large + 1;
$laptop-end                     : $breakpoint-widescreen;

$desktop-start                  : $breakpoint-widescreen + 1;



// Media queries

$screen-small-only              : 'only screen and ( min-width : #{$breakpoint-small} ) and ( max-width : #{$breakpoint-medium - 1} )';
$screen-small-and-down          : 'only screen and ( max-width : #{$breakpoint-medium - 1} )';
$screen-small-and-up            : 'only screen and ( min-width : #{$breakpoint-small} )';

$screen-medium-only             : 'only screen and ( min-width : #{$breakpoint-medium} ) and ( max-width : #{$breakpoint-large - 1} )';
$screen-medium-and-down         : 'only screen and ( max-width : #{$breakpoint-large - 1} )';
$screen-medium-and-up           : 'only screen and ( min-width : #{$breakpoint-medium} )';

$screen-large-only              : 'only screen and ( min-width : #{$breakpoint-large} ) and ( max-width : #{$breakpoint-extra-large - 1} )';
$screen-large-and-down          : 'only screen and ( max-width : #{$breakpoint-extra-large - 1} )';
$screen-large-and-up            : 'only screen and ( min-width : #{$breakpoint-large} )';

$screen-extra-large-and-up      : 'only screen and ( min-width : #{$breakpoint-extra-large} )';
$screen-widescreen-and-up       : 'only screen and ( min-width : #{$breakpoint-widescreen} )';

$screen-portrait                : 'screen and (orientation: portrait)';
$screen-landscape               : 'screen and (orientation: landscape)';



// Grid breakpoint names mapped to @media values, used for responsive utilities.

$breakpoint-list: (
    'xlg': $screen-extra-large-and-up,
    'lg': $screen-large-only,
    'md': $screen-medium-only,
    'sm': $screen-small-only,
    'xs': $screen-small-and-down
);
