{% extends 'layouts/default.html' %}

{% block content %}

    <div class="o-container">

        <h1 class="u-margin-bottom--lg">Example page template</h1>

        <h2 class="u-h3 u-margin-bottom--xs">All the data available in this template:</h2>

        {% if global.project.debug %}
          {% debug %}
        {% else %}
          <p>Debug data is only shown with global.project.debug enabled.</p>
        {% endif %}

        <h3 class="u-margin-top--md">How to use the data:</h3> <br/>

        <div class="u-margin-bottom--xs">
            Website's title: {{ global.site.title }}<br/>
            Website's description: {{ global.site.description }}<br/>
            Project is in debug mode: {{ global.project.debug }}<br/>
        </div>

        <div class="u-margin-bottom--md">
            <!-- You can also 'set' data -->
            {% set someData = { custom: 'Some custom data created inside the template...' } %}
            {% set someOtherData = 'Other data' %}

            <span>{{ someData.custom }}</span>
            <span>{{ someOtherData }}</span>
        </div>

        <h3>How to inject SVG images:</h3> <br/>

        <div class="u-margin-bottom--md">
            {% svg 'social/facebook' %}
            {% svg 'social/twitter' %}
            {% svg 'social/google-plus' %}
        </div>

        <h3>How to use image macro</h3> <br />

        {% from 'image.html' import image  %}

        <div class="o-grid">

          <div class="o-col-12 o-col-10--md u-pre-1--md u-margin-bottom--sm">
            {{ image({
              fetchPriority: 'high',
              imageStyle: 'wysiwyg',
              backgroundColor: '#8894ae',
              aspect: [16, 5]
            }) }}
          </div>

          {% for i in range(0, 3) -%}
            <div class="o-col-12 o-col-6--md o-col-4--lg u-margin-bottom--sm">
              {{ image({
                imageStyle: 'card',
                backgroundColor: '#8894ae'
              }) }}
            </div>
          {%- endfor %}
        </div>


        <h3>How to use button macros:</h3> <br/>

        <!-- Include the file containing the macro, but it won't render anything until you call it -->
        {% from 'button.html' import button %}

        <!-- Call the macro with optional arguments to create new instances of the button -->
        {{ button( { label: 'Click here' } ) }}

        <br/><br/>

        {{ button( { label: 'button with an arrow', icon: 'chevron-right' } ) }}


        <h3 class="u-margin-top--md">Including modules:</h3> <br/>

        {% include 'example.html' %}

    </div>

{% endblock %}
