{% extends 'layouts/default.html' %}



{% block content %}

<div js-hook-sequences>

  <section class="c-section" data-sequence-path="/assets/images/sequence-01/image-" data-sequence-length="250" data-sequence-filetype=".webp" js-hook-animated-sequence>
    <div class="section__sticky">
      <div class="c-animated-sequence">
        <canvas js-hook-sequence-canvas></canvas>
      </div>
    </div>
    <div class="section__content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos eaque ipsa aperiam non incidunt maiores eos, eius beatae veritatis illum harum at similique voluptates ab quasi itaque, quo nam tenetur!</div>
  </section>

  <section class="c-section" data-sequence-path="/assets/images/sequence-01/image-" data-sequence-length="250" data-sequence-filetype=".webp" js-hook-animated-sequence>
    <div class="section__sticky">
      <div class="c-animated-sequence">
        <canvas js-hook-sequence-canvas></canvas>
      </div>
    </div>
    <div class="section__content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos eaque ipsa aperiam non incidunt maiores eos, eius beatae veritatis illum harum at similique voluptates ab quasi itaque, quo nam tenetur!</div>
  </section>

  <section class="c-section" data-sequence-path="/assets/images/sequence-01/image-" data-sequence-length="250" data-sequence-filetype=".webp" js-hook-animated-sequence debug>
    <div class="section__sticky">
      <div class="c-animated-sequence">
        <canvas js-hook-sequence-canvas></canvas>
      </div>
    </div>
    <div class="section__content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos eaque ipsa aperiam non incidunt maiores eos, eius beatae veritatis illum harum at similique voluptates ab quasi itaque, quo nam tenetur!</div>
  </section>

</div>

{% endblock %}
