.u-flex {
  display: flex;
}

.u-flex-wrap {
  flex-wrap: wrap;
}

.u-flex-direction {
  &--column {
    @include generate-mediaquery-rules {
      flex-direction: column;
    }
  }

  &--row {
    @include generate-mediaquery-rules {
      flex-direction: row;
    }
  }
}

.u-flex-align {
  &--top {
    @include generate-mediaquery-rules {
      align-items: flex-start;
    }
  }

  &--center {
    @include generate-mediaquery-rules {
      align-items: center;
    }
  }

  &--baseline {
    @include generate-mediaquery-rules {
      align-items: baseline;
    }
  }

  &--bottom {
    @include generate-mediaquery-rules {
      align-items: flex-end;
    }
  }
}

.u-flex-self {
  &--left {
    @include generate-mediaquery-rules {
      align-self: flex-start;
      margin-right: auto;
    }
  }

  &--center {
    @include generate-mediaquery-rules {
      align-self: center;
    }
  }

  &--right {
    @include generate-mediaquery-rules {
      align-self: flex-end;
      margin-left: auto;
    }
  }
}
