//
//    Allows offsetting components by an Nth amount of grid columns without using actual grid elements.
//
//    @param offset-direction   { value }              - valid values: left right
//    @param offset-count      { number }             - amount of columns to be offset
//
//
//    example usage:
//    --------------
//
//    .foo {
//      @include column-offset(left, 2)
//    }
//

$grid-max-width: map_get($grid-config, 'max-width');
$grid-column-count: map_get($grid-config, 'columns');
$grid-container-padding: #{strip-unit(map_get($grid-config, 'container-gutter') * 2)}vw;

@mixin column-offset($offset-direction: 'left', $offset-count: '1') {
    margin-#{$offset-direction}: calc((100vw - #{$grid-container-padding}) / #{$grid-column-count / $offset-count});

    @include screen-desktop-and-bigger {
        margin-#{$offset-direction}: calc((100vw - (100vw - (#{$grid-max-width} - #{$grid-container-padding}))) / #{$grid-column-count / $offset-count});
    }
}
