// sass-lint:disable no-vendor-prefixes, brace-style, no-important

//
//    A collection of some helper classes for toggling the visibility of elements
//
//    e.g.
//
//    <div class="hidden-xs">
//        This element will be hidden on screen size xs
//    </div>
//


$visibility-breakpoints: (
                     'xlg': $screen-extra-large-and-up,
                     'lg': $screen-large-only,
                     'md': $screen-medium-only,
                     'sm': $screen-small-only,
                     'xs': $screen-small-and-down
                  );


@each $visibility-modifier, $visibility-media in $visibility-breakpoints {

    .visible-#{$visibility-modifier},
    .visible-#{$visibility-modifier}-block,
    .visible-#{$visibility-modifier}-table-cell,
    .visible-#{$visibility-modifier}-inline-block,
    .visible-#{$visibility-modifier}-inline             {      display: none            !important; }


    @media #{$visibility-media} {

        .visible-#{$visibility-modifier},
        .visible-#{$visibility-modifier}-block          {      display: block           !important; }
        .visible-#{$visibility-modifier}-table-cell     {      display: table-cell      !important; }
        .visible-#{$visibility-modifier}-inline-block   {      display: inline-block    !important; }
        .visible-#{$visibility-modifier}-inline         {      display: inline          !important; }
        .hidden-#{$visibility-modifier}                 {      display: none            !important; }

    }

}


@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only {
  @include sr-only;
}
