// @formatter:off
//
//    Set the margins/padding for each viewport
//
//    @see: helpers/spacing
//
//    .margin-{direction}--xs      - .margin-{direction}--lg
//    .padding-{direction}--xs      - .padding-{direction}--lg
//
//

$margin-large:  100px;
$margin-medium: 50px;
$margin-small:  20px;
$margin-xsmall: 10px;

$spacing-margins: (
                     'lg': $margin-large,
                     'md': $margin-medium,
                     'sm': $margin-small,
                     'xs': $margin-xsmall
                  );
