{% set title='SVG Shapes' %}

{% extends './block.html' %}


{% block content %}

    <div class="_styleguide__svg-collection container">
        <div class="grid-12">
            {% for svg in project.svgs %}
            <div class="col-6 col-md-2" title="{{ svg }}">
                <div class="_svg-collection__tile">
                    <div class="_svg-collection__container">

                        {% svg svg %}

                    </div>
                    <h4>{{ svg }}</h4>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

