@mixin button--primary {
  --button-font-color: #{$color-white};
  --button-icon-color: var(--button-font-color);
  --button-background-color: #{$color-primary};

  --button-font-color-hover: #{$color-white};
  --button-icon-color-hover: var(--button-font-color-hover);
  --button-background-color-hover: #{$color-grey-50};

  --button-font-color-focus: var(--button-font-color-hover);
  --button-icon-color-focus: var(--button-icon-color-hover);
  --button-background-color-focus: var(--button-background-color-hover);

  @include button;
}
