:root {
  // Style
  --button-ghost-spacing-x: var(--button-spacing-x);
  --button-ghost-spacing-y: var(--button-spacing-y);
  --button-ghost-border-width: 2px;
  --button-ghost-border-radius: var(--button-border-radius);

  // Colors
  --button-ghost-font-color: #{$color-black};
  --button-ghost-icon-color: var(--button-ghost-font-color);

  --button-ghost-font-color-hover: #{$color-white};
  --button-ghost-icon-color-hover: var(--button-ghost-font-color-hover);
  --button-ghost-background-color-hover: #{$color-black};

  --button-ghost-font-color-focus: var(--button-ghost-font-color-hover);
  --button-ghost-icon-color-focus: var(--button-ghost-icon-color-hover);
  --button-ghost-background-color-focus: var(--button-ghost-background-color-hover);

  // Transitions
  --button-ghost-transition-time: var(--button-transition-time);
  --button-ghost-transition-ease: var(--button-transition-ease);
}

@mixin button--ghost {
  @include button;
  background: transparent;
  box-shadow: 0 0 0 var(--button-ghost-border-width) var(--button-ghost-font-color) inset;
  transition-property: color, background-color, box-shadow;

  @include hover-focus {
    color: var(--button-ghost-font-color-hover);
    background-color: var(--button-ghost-background-color-hover);
    box-shadow: 0 0 0 var(--button-ghost-border-width) var(--button-ghost-background-color-hover)
      inset;
  }

  @include keyboard-focus {
    background-color: var(--button-ghost-background-color-focus);
    box-shadow: 0 0 0 var(--button-ghost-border-width) var(--button-ghost-background-color-focus)
      inset;
  }
}
