
<!DOCTYPE html>
<html lang="nl" dir="ltr" class="_debug_page_">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta name="author" content="Tam Tam">
    <meta name="description" content="This is a debug page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Debug page</title>

    <!-- Style sheets -->
    <link rel="stylesheet" href="/assets/css/dev.css"/>
    <link rel="stylesheet" href="/assets/css/main.css"/>

</head>


<body>

    {% if project.showGrid %}

      {% include '_dev/tools/grid-overlay.html' %}
      {{ gridOverlay( { columns: 12 } ) }}

    {% endif %}

    <main role="main">

        {% block content %}

            <!-- content will be injected in this block -->

        {% endblock %}

    </main>


    <script src="/assets/js/main.js" type="text/javascript"></script>

</body>

<!-- name: {{ project.name }}, version: {{ project.version }} -->
</html>
