.example-2 {

  display: inline-block;
  vertical-align: middle;
  color: #333333;
  padding: 20px 40px;
  margin: 10px;
  border: 1px solid #333333;

  pre {
    border: 1px solid #888888;
    padding: 10px 15px;
    margin: 10px 0;
  }

}
