


// ----------------- Button styling ---------------

%button-base {
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    vertical-align: top;
}

%button,
.button {

	@extend %button-base;

	background-color: $color-primary;
	color: $color-white;

	font-family: $font-stack-buttons;
	overflow: hidden;
	text-transform: uppercase;
	text-align: center;

	// Regular styling
	padding: 11px 20px 10px 20px;
	font-size: 15px;
	line-height: 15px;

	transition: all $transition-button-time $transition-button-ease;

	&:hover {
		background-color: darken($color-primary, 10%);
	}


    // Large styling
    &--large{
        padding: 15px 30px 11px 35px;
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    // Arrow down styling
    &--down{

        .icon-arrow-down {
            margin-left: 10px;
            top: 2px;
            font-size: 12px;
        }

    }

}


