$link-transition-time: 200ms;
$link-transition-ease: $ease-in-out-quad;

// most basic link style
%link-base {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  text-overflow: ellipsis;
}

a {
  @extend %link-base;
}


%link {

  color: $color-primary;
  transition: color $link-transition-time $link-transition-ease;

  &:hover,
  &:focus {
    color: darken($color-primary, 10%);
  }

  &:active {
    color: darken($color-primary, 20%);
  }

}

.link{

  @extend %link;

}


%link--underline{

  // This extend is a shortcut so you don't need the base class when applying this style.
  // So instead of <a class="link link--underline">
  // you can just do: <a class="link--underline">
  @extend %link;

  text-decoration:underline;

}

.link--underline {

  @extend %link--underline;

}

