%regular-blockquote {

	display: block;
	margin: 40px auto 0 auto;
	font-size: 4rem;
	line-height: 4.8rem;
	color: #BAB0B0;

	span {
		display: block;
		margin-top: 40px;
		font-size: 2rem;
		line-height: 2.4rem;
	}

}



blockquote {

	@extend %regular-blockquote;


	&--left {

		@extend %regular-blockquote;

		padding-left: 50px;
		text-align: left;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 4px;
			height: 100%;
			border: 1px solid #BAB0B0;
		}

	}


    &--right {

		@extend %regular-blockquote;

        padding-right: 50px;
        text-align: right;

        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 4px;
            height: 100%;
            border: 1px solid #BAB0B0;
        }
    }

}

