:root {
  // Style
  --button-spacing-x: #{$global-spacing * 2};
  --button-spacing-y: #{$global-spacing};
  --button-border-radius: 3px;

  // Colors
  --button-font-color: #{$color-black};
  --button-icon-color: var(--button-font-color);
  --button-background-color: #{$color-grey-20};

  --button-font-color-hover: #{$color-white};
  --button-icon-color-hover: var(--button-font-color-hover);
  --button-background-color-hover: #{$color-grey-50};

  --button-font-color-focus: var(--button-font-color-hover);
  --button-icon-color-focus: var(--button-icon-color-hover);
  --button-background-color-focus: var(--button-background-color-hover);

  // Transitions
  --button-transition-time: 300ms;
  --button-transition-ease: #{$ease-in-out-quad};
}

@mixin button {
  @include button--base;
  padding: var(--button-spacing-y) var(--button-spacing-x);
  border-radius: var(--button-border-radius);
  background-color: var(--button-background-color);
  color: var(--button-font-color);
  transition: var(--button-transition-time) var(--button-transition-ease);
  transition-property: color, background-color;

  .button__label {
    display: block;
  }

  svg {
    fill: var(--button-font-color);
    transition: var(--button-transition-time) var(--button-transition-ease);
    transition-property: fill;
  }

  @include hover-focus {
    color: var(--button-font-color-hover);
    background-color: var(--button-background-color-hover);

    svg {
      fill: var(--button-font-color-hover);
    }
  }

  @include keyboard-focus {
    color: var(--button-font-color-focus);
    background-color: var(--button-background-color-focus);

    svg {
      fill: var(--button-font-color-focus);
    }
  }
}
