:root {
  // Style
  --button-icon-spacing: #{$global-spacing * 4};

  // Transitions
  --button-icon-transition-time: var(--button-transition-time);
  --button-icon-transition-ease: var(--button-transition-ease);
}

@mixin button--icon {
  padding-right: var(--button-icon-spacing);
  position: relative;

  .button__icon {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: var(--button-spacing-x);
    transform: translate3d(0, 0, 0);
    transition: var(--button-icon-transition-time) var(--button-icon-transition-ease);
    transition-property: transform;
  }

  @include hover-focus {
    .button__icon {
      transform: translateX($global-spacing/2);
    }
  }
}
