


input[type="text"] {

    @include placeholder( $color-form-placeholder );

    padding: .85em 1em;
    background-color: $color-white;
    font-size: inherit;
    border: 1px solid transparent;

    transition: border-color $animation-form-time $animation-form-time;

    &:focus {

        border-color: $color-form-focus;

    }

}
