//	 @formatter:off
//
//		Add your configuration settings here
//
//

$config-path-images						: '/images';
$config-path-fonts						: '/fonts';


// 	Set some default transition values
$transition-button-time				: 200ms;
$transition-button-ease				: $ease-in-out-quad;

$transition-link-time					: 200ms;
$transition-link-ease					: $ease-in-out-quad;

$transition-form-time					: 250ms;
$transition-form-ease					: $ease-in-out-quad;




