//	 @formatter:off
//
//		Add your configuration settings here
//
//

$config-path-images						: '/images';
$config-path-fonts						: '/fonts';


// 	Set some default animation values
$animation-button-time					: 200ms;
$animation-button-ease					: $ease-in-out-quad;

$animation-link-time					: 200ms;
$animation-link-ease					: $ease-in-out-quad;

$animation-form-time					: 250ms;
$animation-form-ease					: $ease-in-out-quad;




